@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*==============================
------------ BASE --------------
================================*/

html{
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: white;
}

/*Navbar*/

.header .navbar{
    background-color: rgb(116, 20, 20) !important;
}

/*Main content*/

.main-container .container-imagen img{
    padding: 2rem;
    max-width: 100vw;
}

.main-container h2{
    font-family: 'roboto', 'arial';
    margin-top: 2rem;
    color: rgb(116, 20, 20);
    text-align: center;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container .container-cards{
    margin: 2rem;
}

#btn{
    background-color:rgb(116, 20, 20);
    max-width: 100vw;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5rem;
    font-weight: bold;

}

.main-container .container-cards .card img{
    max-height: 26vh;
}

.main-container .container-carrusel{
    margin: 2rem;
}
.fila a{
    color: gray;
    text-decoration: none;
}

/*Footer*/

footer{
    background-color: rgb(225, 225, 225);
}

footer .container-footer .row{
        padding: 1rem;
}

footer .container-footer .row img{
    align-items: center;
    max-width: 15vw;
}

footer .container-footer .row .container-footer-contact a{
text-decoration: none;
color: black;
}