

/*==============================
------------ BASE --------------
================================*/

html{
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: white;
}

/*Navbar*/

.header .navbar{
    background-color: rgb(116, 20, 20) !important;
}

/*Main content*/

.main-container .container-imagen img{
    padding: 2rem;
    max-width: 100vw;
}

h2{
    margin-top: 2rem;
    color: rgb(116, 20, 20);
    text-align: center;
}

.main-container .container-cards{
    margin: 2rem;
}

#btn{
    background-color:rgb(116, 20, 20);
    max-width: 100vw;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5rem;
    font-weight: bold;

}

.main-container .container-cards .card img{
    max-height: 26vh;
}

.main-container .container-carrusel{
    margin: 2rem;
}

/*Footer*/

footer{
    background-color: rgb(225, 225, 225);
}

footer .container-footer .row{
        padding: 1rem;
}

footer .container-footer .row img{
    align-items: center;
    max-width: 15vw;
}

footer .container-footer .row .container-footer-contact a{
text-decoration: none;
color: black;
}